.bigramBlock{
  width: 45px;
  height: 45px;
  padding: 6px;
}
.blockBottomBorder{
  border-bottom: 3px solid #385623;
}
.blockRightBorder{
  border-right: 3px solid #385623;
}
.taijiPic{
  position: relative;
  top: 54px;
  left: 36px;
}
.selected{
  background: #698a52;
}
.lineText{
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}
