.bigramBlock{
  width: 45px;
  height: 45px;
}
.blockBottomBorder{
  border-bottom: 3px solid #385623;
}
.blockRightBorder{
  border-right: 3px solid #385623;
}
/* .taijiPic{
  position: relative;
  top: 54px;
  left: 36px;
} */
.growth{
  background: url('../imgs/growth.png') no-repeat center center;
}
.conception{
  background: url('../imgs/conception.png') no-repeat center center;
}
.maturation{
  background: url('../imgs/maturation.png') no-repeat center center;
}
.seeding{
  background: url('../imgs/seeding.png') no-repeat center center;
}
.lineText{
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}
