.detailButton{
  composes: colorTransition from './CommonCss.global.css';
  font-weight: bold;
  margin-bottom: 10px;
}
.detailButton:hover{
  color: #ff8f33;
}
.preLineWhiteSpace{
  white-space: pre-line;
}
