@import url('https://fonts.googleapis.com/css?family=Caveat');
.imageDiv{
  max-width: 60%;
  margin-right: 20px;
}
.image{
  padding: 5px;
  border: 1px solid #cdcdcd;
}
.imageCitation{
  text-align: right;
  font-size: 13px;
  font-style: italic;
  padding-right: 5px;
}
.poetry{
  font-family: 'Caveat', cursive;
  /* font-weight: bold; */
  font-size: 18px;
  white-space: pre-line;
}
.preLineWhiteSpace{
  white-space: pre-line;
}
.overViewDiv{
  font-weight: bold;
  clear: both;
}
.imagePoetryDiv{
  overflow: auto;
}
.bigramImage{
  margin: 40px 0 -70px 0;
}
/* Media Query for the image */
@media(max-width: 768px){
  .image{
    max-width: 100%;
    margin-bottom: 15px;
  }
}
@media(max-width: 997px){
  .bigramImage{
    margin-bottom: -30px;
  }
}
