/*Global*/
body{
  margin: 0;
  padding: 0;
}
a:hover{
  text-decoration: none;
}
textarea{
  overflow: hidden;
}
/*App page*/
main{
  margin-top: 60px;
}
nav{
  z-index: 100;
}
.avatar-photo{
  width: 30px;
  height: 30px;
  border: 1px solid #c7c7c7;
  border-radius: 50%;
  padding: 2px;
}
.copyRightDiv{
  padding: 10px 0;
  background: #f8f9fa;
  position: abslute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
