/*Global*/
body{
  margin: 0;
  padding: 0;
}
.color-white{
  color: #FFF;
}
.linkClass{
  -webkit-transition: color 0.35s ease 0.25s;
  transition: color 0.35s ease 0.25s;
  font-size: 14px;
  color: #69aa00;
}
.linkClass:hover{
  color: #f1492b;
  cursor: pointer;
}
.inlineBlock{
  display: inline-block;
}
.font-bold{
  font-weight: bold;
}
.background-red{
  background: red;
}
a:hover{
  text-decoration: none;
}
textarea{
  overflow: hidden;
}

.white_background{
  background: #FFF;
}



/*For CSSTransitionGroup*/
.csstransition-fade-enter{
  opacity: 0.01;
  z-index: 1;
}
.csstransition-fade-enter .csstransition-fade-enter-active{
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}
.csstransition-fade-leave{
  opacity: 1;
}
.csstransition-fade-leave .csstransition-fade-leave-active{
  opacity: 0.01;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

/*App page*/
main{
  margin-top: 60px;
}

/*Login page*/
.loginBackgroundContainer{
  background: url('imgs/background.jpg') repeat-x;
  background-size: contain;
  width:100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.loginContainer{
  /*display: -webkit-flex;
  display: flex;
  flex-direction: column;*/
  margin-top: 60px;
}
.loginContainer div, form{
  margin: auto;
}
.loginCoverDiv{
  /*position: absolute;
  top: 50px;*/
  width: 100%;
  /*background: url('imgs/cover.png') no-repeat;*/
}
.loginCoverDiv img{
  margin: auto auto;
}
.loginForm{
  /*padding: 15px 10px;
  background: #f1f1f1;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  width: 300px;*/
  z-index: 1;
}
.loginForm input{
  width: 175px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  margin-right: 10px;
}

.loginTitle{
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #FFF;
  z-index: 1;
}
.loginButton{
  -webkit-transition: background 0.4s ease 0.25s;
  transition: background 0.4s ease 0.25s;
  margin-right: 5px;
}
.loginButton:hover{
  background: #4f9adf;
}
#loginWarnMessage{
  font-size: 16px;
  color: #fff;
  background: #900909;
  margin-top: -45px;
  -webkit-transition: margin 0.4s ease 0.25s;
  transition: margin 0.4s ease 0.25s;
  padding: 10px;
  z-index: -1;
}
#loginWarnMessage i{
  font-size: 14px;
  color: #FFF;
  margin-right: 6px;
}
.logoImage{
  margin: 10px 0 10px 0;
}





/* navbar */
nav{
  padding: 0 10%;
}
.navbar-default {
  background-color: #f1f1f1;
  border-bottom: 1px solid #cdcdcd;
  /*box-shadow: 0 0 6px 0;*/
  /*border: solid #e8491d;*/
}
/* navbar Title */

.navbar-default .navbar-brand {
  color: #000;
}
/* navbar Link */
.navbar-default .navbar-nav>li>a {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #000;
  -webkit-transition: color 0.35s ease 0.25s;
  transition: color 0.35s ease 0.25s;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #7fcd00;
  /*background-color: #e8491d;*/
}
.green-btn{
  background: #a3ee29;
}
.active{
  color: #69aa00;
}

/*BriefReading*/
.briefReadingContainer{
  margin: 35px 0 20px 0;
  padding: 10px 20px;
  border-radius: 6px;
  -webkit-transition: all 0.35s ease 0.25s;
  transition: all 0.35s ease 0.25s;
}
.briefReadingContainer:hover{
  /*border: 1px solid #e3e3e3;*/
  background: rgba(#f4f4f4, 0.69);
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.53);
  cursor: pointer;
}
.readingTitle{
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #636363;
}
.dateContainer{
  margin: 10px 0 20px 0;
}
.dateContainer span{
  margin-right: 15px;
}
.briefReadingContainer i{
  margin-right: 10px;
}
.briefImg{
  display: flex;
}
.briefImg div{
  vertical-align: middle;
}
.briefImgC{
  margin-bottom: 10px;
}
.imgDes{
  margin-left: 15px;
}
.imgDes div{
  margin-bottom: 6px;
}
.hexagramImageDiv{
  margin-top:-15px;
}
/*.briefImg span{
  margin: 0 10px 0 10px;
}*/
.changeLine{
  color: #ff8828;
  font-weight: bold;
}
.rcDescription{
  margin-top: 20px;
}
.rcTitle{
  font-size: 18px;
  font-weight: bold;
}
.rcContent{
  margin-top: 8px;
}
.readMoreDiv{
  margin-top: 10px;
}
.delete-icon, .addJournal-icon{
  font-size: 13px;
  color: #8b0d00;
  margin-left: 15px;
  -webkit-transition: all 0.35s ease 0.3s;
  transition: all 0.35s ease 0.3s;
}
.addJournal-icon{
  color: #007e2f;
  margin-left: 5px;
}
.delete-icon:hover,.addJournal-icon:hover{
  cursor: pointer;
  color: #ee0000;
  font-size: 22px;
  -ms-transform: rotate(8deg); /* IE 9 */
    -webkit-transform: rotate(8deg); /* Chrome, Safari, Opera */
    transform: rotate(8deg);
}
.addJournal-icon:hover{
  color:#00e957;
}
.showJournalBtnsDiv{
  float: right;
}
.btn-del{
  margin-right: 10px;
}
/*Reading page*/
/*.addBtnDiv{
  position: fixed;
  bottom: 25px;
  right: 20px;
  z-index: 99;
}*/
.addBtn{
  position: fixed;
  bottom: 25px;
  right: 20px;
  z-index: 99;
  width: 50px;
  height: 50px;
  background: #b4b4b4;
  border: 2px solid #fff;
  border-radius: 100%;
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.53);
  opacity: 0.3;
  -webkit-transition: all 0.35s ease 0.25s;
  transition: all 0.35s ease 0.25s;
  /*margin-top: 10px;*/
}
.addBtn:hover{
  background: #69aa00;
  cursor: pointer;
  opacity: 1;
}
.addBtn i{
  color: #FFF;
  font-size: 30px;
  margin: 10px 10px;
}

.addReadingBtn, .addJournalBtn{
  opacity: 0;
  color: #FFF;
  line-height: 50px;
  font-size: 11px;
  font-weight: bold;
  /*-webkit-transition: all 0.35s ease 0.25s;
  transition: all 0.35s ease 0.25s;*/
}


.pageBtnDiv{
  width: 100%;
  margin: 15px 0;
}
.pageBtn{
  margin-right: 10px;
  width: 130px;
}
.pageBtn i{
  font-size: 14px;
  color: #fff;
  margin: 0 8px;
}

/*DetailedReading page*/
.dateContainer{
  margin-top: 15px;
}

/*Line Bigram*/
.lineDesDiv{
  margin-top: 15px;
}
.lineDesDiv img, span{
  margin-right: 10px;
}
.lineDesDiv span{
  font-size: 13px;
}

/* Add Reading Page*/
.addReadingDiv{
  margin: 100px auto 0 auto;
  max-width: 700px;
  padding: 30px 30px;
  border: 1px solid rgb(228, 228, 228);
  box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
}
.addreading_image_title{
  font-weight: bold;
  margin: 20px 0;
}
.form-div{
  margin-top: 20px;
}
.form-div label{
  margin-top: 10px;
}
.coinDiv{
  margin: 25px 0;
}

.image-line-big{
  height: 36px;
  margin-bottom: 15px;
  min-width: 220px;
}
.img-line-side-big, .img-line-middle-big, .img-line-middle-blank-big, .img-line-side-red-big, .img-line-middle-red-big{
  display: inline-block;
  background: #000;
  height: 100%;
  width: 45%;
  line-height: 36px;
  vertical-align: top;
  color: #FFF;
}
.img-line-side-red-big, .img-line-middle-red-big{
  background: red;
}
.img-line-middle-big, .img-line-middle-blank-big, .img-line-middle-red-big{
  width:10%;
}
.img-line-middle-blank-big{
  background: #FFF;
}

.image-line{
  margin-top: 4px;
  height: 5px;
  min-width: 54px;
}
.img-line-side, .img-line-middle, .img-line-middle-blank, .img-line-side-red, .img-line-middle-red{
  display: inline-block;
  width:24px;
  height: 5px;
  background: #000;
}
.img-line-side-red, .img-line-middle-red{
  background: red;
}
.img-line-middle, .img-line-middle-blank, .img-line-middle-red{
  width:5px;
}
.img-line-middle-blank{
  background: #FFF;
}


.change-line-div{
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
}
.img-second-div{
  margin-left: 25px;
}

/*HexagramLine*/
.coinPickUpBgDiv{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(55, 55, 55, 0.75);
  z-index: 1;
}
.absolute_position{
  position: absolute;
}
.coinPickUpWindowDiv{
  margin: 300px auto auto auto;
  max-width: 400px;
  padding: 15px 15px;
  background: #FFF;
  border-radius: 6px;
}
.coinPickUpWindowDiv button{
  margin: 10px 10px;
}
/*.headsTailsDiv{
  width: 100%;
  color: #FFF;
  margin-right: 10px;
}*/

/*ChooseCoin*/
.coinImg, .emptyCoinDiv{
  border-radius: 100%;
  margin: 15px auto;
  -webkit-transition: all 0.3s ease .03s;
  transition: all 0.3s ease .03s;
}
.emptyCoinDiv{
  width: 58px;
  height: 58px;
  border: 1px dashed #a3a3a3;
  color: #606060;
  font-weight: bold;
  line-height: 58px;
}
.coinImg:hover, .emptyCoinDiv:hover{
  cursor: pointer;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.4);
}

#coin_0, #coin_1, #coin_2{
  margin: 6px 0 10px 9px;
}
.noAvailableDiv, .availableDiv{
  height: 36px;
  border: 2px dashed #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  line-height: 36px;
  color: #d2d2d2;
  font-weight: bold;
  min-width: 220px;
}
.availableDiv{
  border-color: #616161;
  color: #616161;
  -webkit-transition: box-shadow 0.3s ease 0.25s;
  transition: box-shadow 0.3s ease 0.25s;
}
.availableDiv:hover{
  cursor: pointer;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.4);
}
.bottom-btn-div{
  margin-top: 25px;
}
/*Journal Row page*/
.journal_brief_overview{
  max-height: 30px;
  overflow:hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.journal-row-div{
  padding: 10px 15px;
  margin-top: 10px;
  color: #000;
  -webkit-transition: all 0.35s ease 0.3s;
  transition: all 0.35s ease 0.3s;
  border-radius: 5px;
}
.journal-row-div:hover{
  background: #f4f4f4;
  -ms-transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
  cursor: pointer;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.4);
}
.journal-row-div div{
  margin-top:4px;
  color: #000;
}

/*Reading Search page*/
.search-field-container{
  max-width: 600px;
  background: #f2f0f4;
  border: 1px solid #e9e9e9;
  margin: 120px auto 25px auto;
  padding: 10px 20px;
  border-radius:8px;
}
.search-date-container{
  padding: 10px 20px;
  border-left: 10px solid #f56721;
  background: #FFF;margin-top: 10px;
}
.dataLabel{
  margin-right: 15px;
}
.form-control-warning{
  border-color: #ffc71f;
}
.form-control-warning-span{
  color: #ffc71f;
}

/* HexagramImgTable */
.hexagram-container{
  margin: 0 10px 10px 0;
  -webkit-transition: all 0.35s ease 0.3s;
  transition: all 0.35s ease 0.3s;
}
.hexagram-container:hover{
  -ms-transform: scale(1.3,1.3);
  -webkit-transform: scale(1.3,1.3);
  transform: scale(1.3,1.3);
  cursor: pointer;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.4);
}
.no_result{
  margin-top: 40px;
  font-size:20px;
  font-weight: bold;
}

/* AddJournal */
.addJournalContentBtnDiv{
  -webkit-transition: color 0.35s ease 0.3s;
  transition: color 0.35s ease 0.3s;
  margin: 7px 0;
}
.addJournalContentBtnDiv:hover{
  color: #ff6b00;
  cursor: pointer;
}
.addJournalContentDiv{
  padding: 10px 10px;
  background: #f2f2f2;
  border-left: 8px solid #f56f0d;
  margin-top: 15px;
  /*display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;*/
}

/* JournalContent page */
.closeIconSpan{
  float: right;
  color: #acacac;
  /*margin-top: 10px;*/
  position: relative;
  /*right: 3px;*/
  top: 24px;
  z-index: 1;
  /*float: right;*/
  -webkit-transition: color 0.35s ease 0.3s;
  transition: color 0.35s ease 0.3s;
}
.closeIconSpan:hover{
  cursor: pointer;
  color: #ff352f;
}
.journalContentTitleDiv{
  width: 100%;

  /*display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;*/
}
.journalContentTitleDiv label{
  margin-right: 25px;
}

/* ReadingSearchAndList */
.readingListDiv{
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 10px 10px;
  margin-top: 8px;
  background: #FFF;
  min-height: 100px;
}
.readingListNameDiv div{
  white-space: nowrap;
  height:25px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 6px;
  /*background: #FFF;
  -moz-transition: background .3s ease .3s;
  -webkit-transition: background .3s ease .3s;
  transition: background .3s ease .3s;*/
}
/*.readingListNameDiv div:hover{
  background: #e3e3e3;
}*/
.readingListDeletIcon{
  padding: 0 5px 0 0;
}
.readingSearchResultDiv{
  background: #FFF;
  border: 1px solid #CCC;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 10px 6px;
}
.readingSearchItem{
  background: #FFF;
  padding: 6px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -moz-transition: background .3s ease .3s;
  -webkit-transition: background .3s ease .3s;
  transition: background .3s ease .3s;
}
.readingSearchItem:hover{
  cursor: pointer;
  background: #e7ffcf;
}
.matchKeyword{
  color: #ff3f39;
  font-weight: bold;
  margin: 0;
}

/*Media Queries*/
/*reduce login input width*/
@media(max-width: 460px) {
  .loginForm input{
    width: 125px;
  }
}
@media(max-width: 388px) {
  .loginForm input{
    width: 90px;
  }
}
